
.topnav img{
    margin-left: 150px;
   float: left;
   margin-top: 15px;
}
.topnavlft{
    
    margin-right: 150px;
   
    
    float: right;

}
.topnavlft li{
    text-decoration: none;
    display: inline-block;
    padding-left: 30px;
    margin-top: 25px;
    font-size: 16px;
}
.button1{
    height: 45px;
    width: 115px;
    background-color: #008060;
    border-radius: 5px;
    border-color:#008060;
    color: white;
    font-size: 18px;
}
.button1 i{
    vertical-align: middle;
}
.button1:hover{
    box-shadow: 0 0 5px #008060;
}
.button2{
    height: 45px;
width: 80px;
    background-color:white;
    border-radius: 5px;
    border: none;
    color:black;
    font-size: 18px;
}
.button2:hover{
  
    background-color: rgba(0,128,96,.1);

}
.greencon{
    border: 1px solid #005c45 ;
    background-color:#005c45;
   padding-top: 80px;
   overflow: auto;
    
    
}
.grenconlf{

    width: 505px;
   margin-left: 125px;
    float: left;
  
  
   
}
.clear{
    clear: both;
}
.grenconri{
  
    width: 515px;
   float: right;
    margin: 0;
  margin-right: 150px;
  background-color: white;
  border-radius: 5px;
    padding-bottom: 20px;
  padding-left: 20px;
}
.grenconlf h1{
    font-size: 64px;
    color: white;
 
}

.grenconlf p{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
   
}

.mesg table td{
    padding-left: 10px;
}
.td1{
    font-size: 18px;
    color: white;
}
.td2{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}
.mesg{
    display: inline-block;
}
.s{
    display: inline-block;
    margin-left: 120px;
}
.formhead{
    display: flex;
}
.formtxt{
    width: 300px;
    
}
.formimg{
    margin-left: 60px;
    padding-top: 20px;
}
.formtxt1{
    font-weight: 900;
    font-size: 22px;
    color: #00221c;
}
.formtxt2{
  
    font-size: 16px;
    color: #51596c;
}

input{
   
    border:1px solid #e5e8e8;
    border-radius: 5px;
    width: 475px;
    height: 50px;
}
#radio1{
    width: 20px;
    height: 15px;
   
    
}
.radio1{
    border:1px solid #e5e8e8;
    width: 210px;
    padding:15px 0 15px 0;
    border-radius: 5px;
    display: inline-block;
  
}

#radio2{
    width: 20px;
    height: 15px;
   
    
}
.radio2{
    margin-left: 50px;
}
.button3{
   
    background-color: #008060;
    border-radius: 5px;
    border-color:#008060;
    color: white;
    font-size: 18px;
}